{
    "openapi": "3.0.4",
    "info": {
        "title": "Microsoft Excel API",
        "description": "Microsoft Excel API. Subset of the Microsoft Graph v1.0 OpenAPI specification covering workbook, worksheet, range, table, chart and pivot-table operations on files stored in OneDrive and SharePoint.",
        "version": "v1.0",
        "x-ms-generated-by": {
            "toolName": "Microsoft.OpenApi.OData",
            "toolVersion": "0.0.0.0"
        }
    },
    "servers": [
        {
            "url": "https://graph.microsoft.com/v1.0"
        }
    ],
    "security": [
        {
            "oAuth2": [
                "Files.ReadWrite"
            ]
        }
    ],
    "tags": [
        {
            "name": "drives.driveItem",
            "x-ms-docs-toc-type": "page"
        },
        {
            "name": "drives.drive.Functions",
            "x-ms-docs-toc-type": "container"
        },
        {
            "name": "drives.drive.Actions",
            "x-ms-docs-toc-type": "container"
        }
    ],
    "paths": {
        "/drives/{driveId}/items/{driveItemId}/workbook": {
            "description": "Provides operations to manage the workbook property of the microsoft.graph.driveItem entity.",
            "get": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Get workbook from drives",
                "description": "For files that are Excel spreadsheets, access to the workbook API to work with the spreadsheet's contents. Nullable.",
                "operationId": "getWorkbook",
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    },
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "The retrieved workbook",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Workbook"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "patch": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Update workbook",
                "operationId": "updateWorkbook",
                "parameters": [
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "requestBody": {
                    "description": "The workbook properties to update",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Workbook"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The updated workbook",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Workbook"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Update the properties of the workbook."
            },
            "parameters": [
                {
                    "name": "driveId",
                    "in": "path",
                    "description": "The unique identifier of drive",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "drive"
                },
                {
                    "name": "driveItemId",
                    "in": "path",
                    "description": "The unique identifier of driveItem",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "driveItem"
                }
            ]
        },
        "/drives/{driveId}/items/{driveItemId}/workbook/application": {
            "description": "Provides operations to manage the application property of the microsoft.graph.workbook entity.",
            "get": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Get application from drives",
                "operationId": "getApplication",
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    },
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "The retrieved Excel application",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Application"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Retrieve the Excel application object in the workbook."
            },
            "patch": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Update Excel application",
                "operationId": "updateApplication",
                "parameters": [
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "requestBody": {
                    "description": "The Excel application properties to update",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Application"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The updated Excel application",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Application"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Update the properties of the Excel application object in the workbook."
            },
            "parameters": [
                {
                    "name": "driveId",
                    "in": "path",
                    "description": "The unique identifier of drive",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "drive"
                },
                {
                    "name": "driveItemId",
                    "in": "path",
                    "description": "The unique identifier of driveItem",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "driveItem"
                }
            ]
        },
        "/drives/{driveId}/items/{driveItemId}/workbook/application/calculate": {
            "description": "Provides operations to call the calculate method.",
            "post": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Invoke action calculate",
                "description": "Recalculate all currently opened workbooks in Excel.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/workbookapplication-calculate?view=graph-rest-1.0"
                },
                "operationId": "calculateApplication",
                "parameters": [
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "requestBody": {
                    "description": "Action parameters",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CalculateApplicationRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "action"
            },
            "parameters": [
                {
                    "name": "driveId",
                    "in": "path",
                    "description": "The unique identifier of drive",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "drive"
                },
                {
                    "name": "driveItemId",
                    "in": "path",
                    "description": "The unique identifier of driveItem",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "driveItem"
                }
            ]
        },
        "/drives/{driveId}/items/{driveItemId}/workbook/comments": {
            "description": "Provides operations to manage the comments property of the microsoft.graph.workbook entity.",
            "get": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Get comments from drives",
                "description": "Represents a collection of comments in a workbook.",
                "operationId": "listComments",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "dollarOrderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    },
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "responses": {
                    "2XX": {
                        "$ref": "#/components/responses/microsoft.graph.workbookCommentCollectionResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                },
                "x-ms-docs-operation-type": "operation"
            },
            "post": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Create workbook comment",
                "operationId": "createComment",
                "parameters": [
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "requestBody": {
                    "description": "The workbook comment to create",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Comment"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The created workbook comment",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Comment"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Create a new comment in the workbook."
            },
            "parameters": [
                {
                    "name": "driveId",
                    "in": "path",
                    "description": "The unique identifier of drive",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "drive"
                },
                {
                    "name": "driveItemId",
                    "in": "path",
                    "description": "The unique identifier of driveItem",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "driveItem"
                }
            ]
        },
        "/drives/{driveId}/items/{driveItemId}/workbook/comments/{workbookCommentId}": {
            "description": "Provides operations to manage the comments property of the microsoft.graph.workbook entity.",
            "get": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Get comments from drives",
                "description": "Represents a collection of comments in a workbook.",
                "operationId": "getComment",
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    },
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "The retrieved workbook comment",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Comment"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "delete": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Delete workbook comment",
                "operationId": "deleteComment",
                "parameters": [
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "ETag",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "ifMatch"
                    },
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Delete the comment from the workbook."
            },
            "patch": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Update workbook comment",
                "operationId": "updateComment",
                "parameters": [
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "requestBody": {
                    "description": "The workbook comment properties to update",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Comment"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The updated workbook comment",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Comment"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Update the properties of the comment in the workbook."
            },
            "parameters": [
                {
                    "name": "driveId",
                    "in": "path",
                    "description": "The unique identifier of drive",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "drive"
                },
                {
                    "name": "driveItemId",
                    "in": "path",
                    "description": "The unique identifier of driveItem",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "driveItem"
                },
                {
                    "name": "workbookCommentId",
                    "in": "path",
                    "description": "The unique identifier of workbookComment",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "workbookComment"
                }
            ]
        },
        "/drives/{driveId}/items/{driveItemId}/workbook/comments/{workbookCommentId}/replies": {
            "description": "Provides operations to manage the replies property of the microsoft.graph.workbookComment entity.",
            "get": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Get replies from drives",
                "description": "The list of replies to the comment. Read-only. Nullable.",
                "operationId": "listReplies",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "dollarOrderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    },
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "responses": {
                    "2XX": {
                        "$ref": "#/components/responses/microsoft.graph.workbookCommentReplyCollectionResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                },
                "x-ms-docs-operation-type": "operation"
            },
            "post": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Create comment reply",
                "operationId": "createReply",
                "parameters": [
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "requestBody": {
                    "description": "The comment reply to create",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommentReply"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The created comment reply",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommentReply"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Create a new comment reply in the comment."
            },
            "parameters": [
                {
                    "name": "driveId",
                    "in": "path",
                    "description": "The unique identifier of drive",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "drive"
                },
                {
                    "name": "driveItemId",
                    "in": "path",
                    "description": "The unique identifier of driveItem",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "driveItem"
                },
                {
                    "name": "workbookCommentId",
                    "in": "path",
                    "description": "The unique identifier of workbookComment",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "workbookComment"
                }
            ]
        },
        "/drives/{driveId}/items/{driveItemId}/workbook/comments/{workbookCommentId}/replies/{workbookCommentReplyId}": {
            "description": "Provides operations to manage the replies property of the microsoft.graph.workbookComment entity.",
            "get": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Get replies from drives",
                "description": "The list of replies to the comment. Read-only. Nullable.",
                "operationId": "getReply",
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    },
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "The retrieved comment reply",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommentReply"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "delete": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Delete comment reply",
                "operationId": "deleteReply",
                "parameters": [
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "ETag",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "ifMatch"
                    },
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Delete the comment reply from the comment."
            },
            "patch": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Update comment reply",
                "operationId": "updateReply",
                "parameters": [
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "requestBody": {
                    "description": "The comment reply properties to update",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommentReply"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The updated comment reply",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CommentReply"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Update the properties of the comment reply in the comment."
            },
            "parameters": [
                {
                    "name": "driveId",
                    "in": "path",
                    "description": "The unique identifier of drive",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "drive"
                },
                {
                    "name": "driveItemId",
                    "in": "path",
                    "description": "The unique identifier of driveItem",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "driveItem"
                },
                {
                    "name": "workbookCommentId",
                    "in": "path",
                    "description": "The unique identifier of workbookComment",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "workbookComment"
                },
                {
                    "name": "workbookCommentReplyId",
                    "in": "path",
                    "description": "The unique identifier of workbookCommentReply",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "workbookCommentReply"
                }
            ]
        },
        "/drives/{driveId}/items/{driveItemId}/workbook/comments/{workbookCommentId}/replies/$count": {
            "description": "Provides operations to count the resources in the collection.",
            "get": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Get the number of the resource",
                "operationId": "countReplies",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "responses": {
                    "2XX": {
                        "$ref": "#/components/responses/ODataCountResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Retrieve the number of comment replies in the comment."
            },
            "parameters": [
                {
                    "name": "driveId",
                    "in": "path",
                    "description": "The unique identifier of drive",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "drive"
                },
                {
                    "name": "driveItemId",
                    "in": "path",
                    "description": "The unique identifier of driveItem",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "driveItem"
                },
                {
                    "name": "workbookCommentId",
                    "in": "path",
                    "description": "The unique identifier of workbookComment",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "workbookComment"
                }
            ]
        },
        "/drives/{driveId}/items/{driveItemId}/workbook/comments/$count": {
            "description": "Provides operations to count the resources in the collection.",
            "get": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Get the number of the resource",
                "operationId": "countComments",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "responses": {
                    "2XX": {
                        "$ref": "#/components/responses/ODataCountResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Retrieve the number of comments in the workbook."
            },
            "parameters": [
                {
                    "name": "driveId",
                    "in": "path",
                    "description": "The unique identifier of drive",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "drive"
                },
                {
                    "name": "driveItemId",
                    "in": "path",
                    "description": "The unique identifier of driveItem",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "driveItem"
                }
            ]
        },
        "/drives/{driveId}/items/{driveItemId}/workbook/closeSession": {
            "description": "Provides operations to call the closeSession method.",
            "post": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Invoke action closeSession",
                "description": "Use this API to close an existing workbook session.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/workbook-closesession?view=graph-rest-1.0"
                },
                "operationId": "closeSession",
                "parameters": [
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "action"
            },
            "parameters": [
                {
                    "name": "driveId",
                    "in": "path",
                    "description": "The unique identifier of drive",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "drive"
                },
                {
                    "name": "driveItemId",
                    "in": "path",
                    "description": "The unique identifier of driveItem",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "driveItem"
                }
            ]
        },
        "/drives/{driveId}/items/{driveItemId}/workbook/createSession": {
            "description": "Provides operations to call the createSession method.",
            "post": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Invoke action createSession",
                "description": "Create a new workbook session.  Excel APIs can be called in one of two modes:  To represent the session in the API, use the workbook-session-id: {session-id} header.  In some cases, creating a new session requires an indeterminate time to complete. Microsoft Graph also provides a long running operations pattern. This pattern provides a way to poll for creation status updates, without waiting for the creation to complete. The following are the steps:",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/workbook-createsession?view=graph-rest-1.0"
                },
                "operationId": "createSession",
                "requestBody": {
                    "description": "Action parameters",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateSessionRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The created workbook session",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SessionInfoResponse"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "action"
            },
            "parameters": [
                {
                    "name": "driveId",
                    "in": "path",
                    "description": "The unique identifier of drive",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "drive"
                },
                {
                    "name": "driveItemId",
                    "in": "path",
                    "description": "The unique identifier of driveItem",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "driveItem"
                }
            ]
        },
        "/drives/{driveId}/items/{driveItemId}/workbook/refreshSession": {
            "description": "Provides operations to call the refreshSession method.",
            "post": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Invoke action refreshSession",
                "description": "Use this API to refresh an existing workbook session.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/workbook-refreshsession?view=graph-rest-1.0"
                },
                "operationId": "refreshSession",
                "parameters": [
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "action"
            },
            "parameters": [
                {
                    "name": "driveId",
                    "in": "path",
                    "description": "The unique identifier of drive",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "drive"
                },
                {
                    "name": "driveItemId",
                    "in": "path",
                    "description": "The unique identifier of driveItem",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "driveItem"
                }
            ]
        },
        "/drives/{driveId}/items/{driveItemId}/workbook/sessionInfoResource(key='{key}')": {
            "description": "Provides operations to call the sessionInfoResource method.",
            "get": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Invoke function sessionInfoResource",
                "operationId": "getSessionInfo",
                "parameters": [
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "The workbook session information",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SessionInfoResponse"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "function",
                "description": "Retrieve workbook session information for the given key."
            },
            "parameters": [
                {
                    "name": "driveId",
                    "in": "path",
                    "description": "The unique identifier of drive",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "drive"
                },
                {
                    "name": "driveItemId",
                    "in": "path",
                    "description": "The unique identifier of driveItem",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "driveItem"
                },
                {
                    "name": "key",
                    "in": "path",
                    "description": "Usage: key='{key}'",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/drives/{driveId}/items/{driveItemId}/workbook/tableRowOperationResult(key='{key}')": {
            "description": "Provides operations to call the tableRowOperationResult method.",
            "get": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Invoke function tableRowOperationResult",
                "description": "This function is the last in a series of steps to create a workbookTableRow resource asynchronously. A best practice to create multiple table rows is to batch them in one create tableRow operation and carry out the operation asynchronously. An asynchronous request to create table rows involves the following steps:\r\n1. Issue an async Create tableRow request and get the query URL returned in the Location response header.\r\n2. Use the query URL returned from step 1 to issue the Get workbookOperation request and get the operation ID for step 3. \r\n    Alternatively, for convenience, after you get a succeeded operationStatus result, you can get the query URL from the resourceLocation property of the workbookOperation returned in the response, and apply the query URL to step 3. \r\n3. Use the query URL returned from step 2 as the GET request URL for this function tableRowOperationResult. A successful function call returns the new table rows in a workbookTableRow resource. This function doesn't do anything if called independently.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/workbook-tablerowoperationresult?view=graph-rest-1.0"
                },
                "operationId": "getTableRowOperationResult",
                "parameters": [
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "The result of the table row operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TableRowOperationResponse"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "function"
            },
            "parameters": [
                {
                    "name": "driveId",
                    "in": "path",
                    "description": "The unique identifier of drive",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "drive"
                },
                {
                    "name": "driveItemId",
                    "in": "path",
                    "description": "The unique identifier of driveItem",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "driveItem"
                },
                {
                    "name": "key",
                    "in": "path",
                    "description": "Usage: key='{key}'",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/drives/{driveId}/items/{driveItemId}/workbook/names": {
            "description": "Provides operations to manage the names property of the microsoft.graph.workbook entity.",
            "get": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Get names from drives",
                "description": "Represents a collection of workbooks scoped named items (named ranges and constants). Read-only.",
                "operationId": "listNamedItems",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "dollarOrderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    },
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "responses": {
                    "2XX": {
                        "$ref": "#/components/responses/microsoft.graph.workbookNamedItemCollectionResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                },
                "x-ms-docs-operation-type": "operation"
            },
            "post": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Create named item",
                "operationId": "createNamedItem",
                "parameters": [
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "requestBody": {
                    "description": "The named item to create",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NamedItem"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The created named item",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NamedItem"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Create a new named item in the workbook."
            },
            "parameters": [
                {
                    "name": "driveId",
                    "in": "path",
                    "description": "The unique identifier of drive",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "drive"
                },
                {
                    "name": "driveItemId",
                    "in": "path",
                    "description": "The unique identifier of driveItem",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "driveItem"
                }
            ]
        },
        "/drives/{driveId}/items/{driveItemId}/workbook/names/{workbookNamedItemId}": {
            "description": "Provides operations to manage the names property of the microsoft.graph.workbook entity.",
            "get": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Get names from drives",
                "description": "Represents a collection of workbooks scoped named items (named ranges and constants). Read-only.",
                "operationId": "getNamedItem",
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    },
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "The retrieved named item",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NamedItem"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "delete": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Delete named item",
                "operationId": "deleteNamedItem",
                "parameters": [
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "ETag",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "ifMatch"
                    },
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Delete the named item from the workbook."
            },
            "patch": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Update named item",
                "operationId": "updateNamedItem",
                "parameters": [
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "requestBody": {
                    "description": "The named item properties to update",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NamedItem"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The updated named item",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NamedItem"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Update the properties of the named item in the workbook."
            },
            "parameters": [
                {
                    "name": "driveId",
                    "in": "path",
                    "description": "The unique identifier of drive",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "drive"
                },
                {
                    "name": "driveItemId",
                    "in": "path",
                    "description": "The unique identifier of driveItem",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "driveItem"
                },
                {
                    "name": "workbookNamedItemId",
                    "in": "path",
                    "description": "The unique identifier of workbookNamedItem",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "workbookNamedItem"
                }
            ]
        },
        "/drives/{driveId}/items/{driveItemId}/workbook/names/{workbookNamedItemId}/range()": {
            "description": "Provides operations to call the range method.",
            "get": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Invoke function range",
                "description": "Returns the range object that is associated with the name. Throws an exception if the named item's type is not a range.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/nameditem-range?view=graph-rest-1.0"
                },
                "operationId": "getNamedItemRange",
                "parameters": [
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "The retrieved named item range",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RangeResponse"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "function"
            },
            "parameters": [
                {
                    "name": "driveId",
                    "in": "path",
                    "description": "The unique identifier of drive",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "drive"
                },
                {
                    "name": "driveItemId",
                    "in": "path",
                    "description": "The unique identifier of driveItem",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "driveItem"
                },
                {
                    "name": "workbookNamedItemId",
                    "in": "path",
                    "description": "The unique identifier of workbookNamedItem",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "workbookNamedItem"
                }
            ],
            "x-ms-docs-grouped-path": [
                "/drives/{drive-id}/items/{driveItem-id}/workbook/tables/{workbookTable-id}/columns/{workbookTableColumn-id}/range()",
                "/drives/{drive-id}/items/{driveItem-id}/workbook/tables/{workbookTable-id}/columns/itemAt(index={index})/range()",
                "/drives/{drive-id}/items/{driveItem-id}/workbook/tables/{workbookTable-id}/range()",
                "/drives/{drive-id}/items/{driveItem-id}/workbook/tables/{workbookTable-id}/rows/{workbookTableRow-id}/range()",
                "/drives/{drive-id}/items/{driveItem-id}/workbook/tables/{workbookTable-id}/rows/itemAt(index={index})/range()",
                "/drives/{drive-id}/items/{driveItem-id}/workbook/tables/itemAt(index={index})/range()",
                "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/range()",
                "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/range(address='{address}')",
                "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/names/{workbookNamedItem-id}/range()",
                "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/tables/{workbookTable-id}/columns/{workbookTableColumn-id}/range()",
                "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/tables/{workbookTable-id}/columns/itemAt(index={index})/range()",
                "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/tables/{workbookTable-id}/range()",
                "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/tables/{workbookTable-id}/rows/{workbookTableRow-id}/range()",
                "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/tables/{workbookTable-id}/rows/itemAt(index={index})/range()",
                "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/tables/itemAt(index={index})/range()"
            ]
        },
        "/drives/{driveId}/items/{driveItemId}/workbook/names/{workbookNamedItemId}/worksheet": {
            "description": "Provides operations to manage the worksheet property of the microsoft.graph.workbookNamedItem entity.",
            "get": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Get worksheet from drives",
                "description": "Returns the worksheet to which the named item is scoped. Available only if the item is scoped to the worksheet. Read-only.",
                "operationId": "getNamedItemWorksheet",
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    },
                    {
                        "name": "workbook-session-id",
                        "in": "header",
                        "description": "Workbook session ID returned by createSession. Pass it to run the request inside a persistent or non-persistent Excel session",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "workbookSessionId"
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "The retrieved worksheet",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Worksheet"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "parameters": [
                {
                    "name": "driveId",
                    "in": "path",
                    "description": "The unique identifier of drive",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "drive"
                },
                {
                    "name": "driveItemId",
                    "in": "path",
                    "description": "The unique identifier of driveItem",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "driveItem"
                },
                {
                    "name": "workbookNamedItemId",
                    "in": "path",
                    "description": "The unique identifier of workbookNamedItem",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "workbookNamedItem"
                }
            ],
            "x-ms-docs-grouped-path": [
                "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/names/{workbookNamedItem-id}/worksheet"
            ]
        },
        "/drives/{driveId}/items/{driveItemId}/workbook/names/$count": {
            "description": "Provides operations to count the resources in the collection.",
            "get": {
                "tags": [
                    "drives.driveItem"
                ],
                "summary": "Get the number of the resource",
                "operationId": "countNamedItems",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
[...]
