openapi: 3.0.4
info:
  title: Microsoft Excel API
  description: "Microsoft Excel API. Subset of the Microsoft Graph v1.0 OpenAPI specification\
    \ covering workbook, worksheet, range, table, chart and pivot-table operations\
    \ on files stored in OneDrive and SharePoint."
  version: v1.0
  x-ms-generated-by:
    toolName: Microsoft.OpenApi.OData
    toolVersion: 0.0.0.0
servers:
- url: https://graph.microsoft.com/v1.0
security:
- oAuth2:
  - Files.ReadWrite
tags:
- name: drives.driveItem
  x-ms-docs-toc-type: page
- name: drives.drive.Functions
  x-ms-docs-toc-type: container
- name: drives.drive.Actions
  x-ms-docs-toc-type: container
paths:
  /drives/{drive-id}/items/{driveItem-id}/workbook:
    description: Provides operations to manage the workbook property of the microsoft.graph.driveItem
      entity.
    get:
      tags:
      - drives.driveItem
      summary: Get workbook from drives
      description: "For files that are Excel spreadsheets, access to the workbook\
        \ API to work with the spreadsheet's contents. Nullable."
      operationId: drives.items.GetWorkbook
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbook"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - drives.driveItem
      summary: Update the navigation property workbook in drives
      operationId: drives.items.UpdateWorkbook
      parameters:
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/microsoft.graph.workbook"
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbook"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
  /drives/{drive-id}/items/{driveItem-id}/workbook/application:
    description: Provides operations to manage the application property of the microsoft.graph.workbook
      entity.
    get:
      tags:
      - drives.driveItem
      summary: Get application from drives
      operationId: drives.items.workbook.GetApplication
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookApplication"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - drives.driveItem
      summary: Update the navigation property application in drives
      operationId: drives.items.workbook.UpdateApplication
      parameters:
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/microsoft.graph.workbookApplication"
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookApplication"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
  /drives/{drive-id}/items/{driveItem-id}/workbook/application/calculate:
    description: Provides operations to call the calculate method.
    post:
      tags:
      - drives.driveItem
      summary: Invoke action calculate
      description: Recalculate all currently opened workbooks in Excel.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/workbookapplication-calculate?view=graph-rest-1.0
      operationId: drives.drive.items.driveItem.workbook.application.calculate
      parameters:
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApplicationCalculateBody"
        required: true
      responses:
        "204":
          description: Success
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: action
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
  /drives/{drive-id}/items/{driveItem-id}/workbook/comments:
    description: Provides operations to manage the comments property of the microsoft.graph.workbook
      entity.
    get:
      tags:
      - drives.driveItem
      summary: Get comments from drives
      description: Represents a collection of comments in a workbook.
      operationId: drives.items.workbook.ListComments
      parameters:
      - $ref: "#/components/parameters/top"
      - $ref: "#/components/parameters/skip"
      - $ref: "#/components/parameters/search"
      - $ref: "#/components/parameters/filter"
      - $ref: "#/components/parameters/count"
      - name: $orderby
        in: query
        description: Order items by property values
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          $ref: "#/components/responses/microsoft.graph.workbookCommentCollectionResponse"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - drives.driveItem
      summary: Create new navigation property to comments for drives
      operationId: drives.items.workbook.CreateComments
      parameters:
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/microsoft.graph.workbookComment"
        required: true
      responses:
        "2XX":
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookComment"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
  /drives/{drive-id}/items/{driveItem-id}/workbook/comments/{workbookComment-id}:
    description: Provides operations to manage the comments property of the microsoft.graph.workbook
      entity.
    get:
      tags:
      - drives.driveItem
      summary: Get comments from drives
      description: Represents a collection of comments in a workbook.
      operationId: drives.items.workbook.GetComments
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookComment"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - drives.driveItem
      summary: Delete navigation property comments for drives
      operationId: drives.items.workbook.DeleteComments
      parameters:
      - name: If-Match
        in: header
        description: ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Success
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - drives.driveItem
      summary: Update the navigation property comments in drives
      operationId: drives.items.workbook.UpdateComments
      parameters:
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/microsoft.graph.workbookComment"
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookComment"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
    - name: workbookComment-id
      in: path
      description: The unique identifier of workbookComment
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: workbookComment
  /drives/{drive-id}/items/{driveItem-id}/workbook/comments/{workbookComment-id}/replies:
    description: Provides operations to manage the replies property of the microsoft.graph.workbookComment
      entity.
    get:
      tags:
      - drives.driveItem
      summary: Get replies from drives
      description: The list of replies to the comment. Read-only. Nullable.
      operationId: drives.items.workbook.comments.ListReplies
      parameters:
      - $ref: "#/components/parameters/top"
      - $ref: "#/components/parameters/skip"
      - $ref: "#/components/parameters/search"
      - $ref: "#/components/parameters/filter"
      - $ref: "#/components/parameters/count"
      - name: $orderby
        in: query
        description: Order items by property values
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          $ref: "#/components/responses/microsoft.graph.workbookCommentReplyCollectionResponse"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - drives.driveItem
      summary: Create new navigation property to replies for drives
      operationId: drives.items.workbook.comments.CreateReplies
      parameters:
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/microsoft.graph.workbookCommentReply"
        required: true
      responses:
        "2XX":
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookCommentReply"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
    - name: workbookComment-id
      in: path
      description: The unique identifier of workbookComment
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: workbookComment
  /drives/{drive-id}/items/{driveItem-id}/workbook/comments/{workbookComment-id}/replies/{workbookCommentReply-id}:
    description: Provides operations to manage the replies property of the microsoft.graph.workbookComment
      entity.
    get:
      tags:
      - drives.driveItem
      summary: Get replies from drives
      description: The list of replies to the comment. Read-only. Nullable.
      operationId: drives.items.workbook.comments.GetReplies
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookCommentReply"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - drives.driveItem
      summary: Delete navigation property replies for drives
      operationId: drives.items.workbook.comments.DeleteReplies
      parameters:
      - name: If-Match
        in: header
        description: ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Success
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - drives.driveItem
      summary: Update the navigation property replies in drives
      operationId: drives.items.workbook.comments.UpdateReplies
      parameters:
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/microsoft.graph.workbookCommentReply"
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookCommentReply"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
    - name: workbookComment-id
      in: path
      description: The unique identifier of workbookComment
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: workbookComment
    - name: workbookCommentReply-id
      in: path
      description: The unique identifier of workbookCommentReply
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: workbookCommentReply
  /drives/{drive-id}/items/{driveItem-id}/workbook/comments/{workbookComment-id}/replies/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - drives.driveItem
      summary: Get the number of the resource
      operationId: drives.items.workbook.comments.replies.GetCount-5e78
      parameters:
      - $ref: "#/components/parameters/search"
      - $ref: "#/components/parameters/filter"
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          $ref: "#/components/responses/ODataCountResponse"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
    - name: workbookComment-id
      in: path
      description: The unique identifier of workbookComment
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: workbookComment
  /drives/{drive-id}/items/{driveItem-id}/workbook/comments/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - drives.driveItem
      summary: Get the number of the resource
      operationId: drives.items.workbook.comments.GetCount-8437
      parameters:
      - $ref: "#/components/parameters/search"
      - $ref: "#/components/parameters/filter"
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          $ref: "#/components/responses/ODataCountResponse"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
  /drives/{drive-id}/items/{driveItem-id}/workbook/closeSession:
    description: Provides operations to call the closeSession method.
    post:
      tags:
      - drives.driveItem
      summary: Invoke action closeSession
      description: Use this API to close an existing workbook session.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/workbook-closesession?view=graph-rest-1.0
      operationId: drives.drive.items.driveItem.workbook.closeSession
      parameters:
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Success
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: action
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
  /drives/{drive-id}/items/{driveItem-id}/workbook/createSession:
    description: Provides operations to call the createSession method.
    post:
      tags:
      - drives.driveItem
      summary: Invoke action createSession
      description: "Create a new workbook session.  Excel APIs can be called in one\
        \ of two modes:  To represent the session in the API, use the workbook-session-id:\
        \ {session-id} header.  In some cases, creating a new session requires an\
        \ indeterminate time to complete. Microsoft Graph also provides a long running\
        \ operations pattern. This pattern provides a way to poll for creation status\
        \ updates, without waiting for the creation to complete. The following are\
        \ the steps:"
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/workbook-createsession?view=graph-rest-1.0
      operationId: drives.drive.items.driveItem.workbook.createSession
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkbookCreateSessionBody"
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2XX"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: action
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
  /drives/{drive-id}/items/{driveItem-id}/workbook/refreshSession:
    description: Provides operations to call the refreshSession method.
    post:
      tags:
      - drives.driveItem
      summary: Invoke action refreshSession
      description: Use this API to refresh an existing workbook session.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/workbook-refreshsession?view=graph-rest-1.0
      operationId: drives.drive.items.driveItem.workbook.refreshSession
      parameters:
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Success
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: action
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
  /drives/{drive-id}/items/{driveItem-id}/workbook/sessionInfoResource(key='{key}'):
    description: Provides operations to call the sessionInfoResource method.
    get:
      tags:
      - drives.driveItem
      summary: Invoke function sessionInfoResource
      operationId: drives.drive.items.driveItem.workbook.sessionInfoResource
      parameters:
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2XX"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: function
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
    - name: key
      in: path
      description: "Usage: key='{key}'"
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /drives/{drive-id}/items/{driveItem-id}/workbook/tableRowOperationResult(key='{key}'):
    description: Provides operations to call the tableRowOperationResult method.
    get:
      tags:
      - drives.driveItem
      summary: Invoke function tableRowOperationResult
      description: "This function is the last in a series of steps to create a workbookTableRow\
        \ resource asynchronously. A best practice to create multiple table rows is\
        \ to batch them in one create tableRow operation and carry out the operation\
        \ asynchronously. An asynchronous request to create table rows involves the\
        \ following steps:\r\n1. Issue an async Create tableRow request and get the\
        \ query URL returned in the Location response header.\r\n2. Use the query\
        \ URL returned from step 1 to issue the Get workbookOperation request and\
        \ get the operation ID for step 3. \r\n    Alternatively, for convenience,\
        \ after you get a succeeded operationStatus result, you can get the query\
        \ URL from the resourceLocation property of the workbookOperation returned\
        \ in the response, and apply the query URL to step 3. \r\n3. Use the query\
        \ URL returned from step 2 as the GET request URL for this function tableRowOperationResult.\
        \ A successful function call returns the new table rows in a workbookTableRow\
        \ resource. This function doesn't do anything if called independently."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/workbook-tablerowoperationresult?view=graph-rest-1.0
      operationId: drives.drive.items.driveItem.workbook.tableRowOperationResult
      parameters:
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2XX1"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: function
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
    - name: key
      in: path
      description: "Usage: key='{key}'"
      required: true
      style: simple
      explode: false
      schema:
        type: string
  /drives/{drive-id}/items/{driveItem-id}/workbook/names:
    description: Provides operations to manage the names property of the microsoft.graph.workbook
      entity.
    get:
      tags:
      - drives.driveItem
      summary: Get names from drives
      description: Represents a collection of workbooks scoped named items (named
        ranges and constants). Read-only.
      operationId: drives.items.workbook.ListNames
      parameters:
      - $ref: "#/components/parameters/top"
      - $ref: "#/components/parameters/skip"
      - $ref: "#/components/parameters/search"
      - $ref: "#/components/parameters/filter"
      - $ref: "#/components/parameters/count"
      - name: $orderby
        in: query
        description: Order items by property values
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          $ref: "#/components/responses/microsoft.graph.workbookNamedItemCollectionResponse"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - drives.driveItem
      summary: Create new navigation property to names for drives
      operationId: drives.items.workbook.CreateNames
      parameters:
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/microsoft.graph.workbookNamedItem"
        required: true
      responses:
        "2XX":
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookNamedItem"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
  /drives/{drive-id}/items/{driveItem-id}/workbook/names/{workbookNamedItem-id}:
    description: Provides operations to manage the names property of the microsoft.graph.workbook
      entity.
    get:
      tags:
      - drives.driveItem
      summary: Get names from drives
      description: Represents a collection of workbooks scoped named items (named
        ranges and constants). Read-only.
      operationId: drives.items.workbook.GetNames
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookNamedItem"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - drives.driveItem
      summary: Delete navigation property names for drives
      operationId: drives.items.workbook.DeleteNames
      parameters:
      - name: If-Match
        in: header
        description: ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Success
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - drives.driveItem
      summary: Update the navigation property names in drives
      operationId: drives.items.workbook.UpdateNames
      parameters:
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/microsoft.graph.workbookNamedItem"
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookNamedItem"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
    - name: workbookNamedItem-id
      in: path
      description: The unique identifier of workbookNamedItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: workbookNamedItem
  /drives/{drive-id}/items/{driveItem-id}/workbook/names/{workbookNamedItem-id}/range():
    description: Provides operations to call the range method.
    get:
      tags:
      - drives.driveItem
      summary: Invoke function range
      description: Returns the range object that is associated with the name. Throws
        an exception if the named item's type is not a range.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/nameditem-range?view=graph-rest-1.0
      operationId: drives.drive.items.driveItem.workbook.names.workbookNamedItem.range
      parameters:
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2XX2"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: function
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
    - name: workbookNamedItem-id
      in: path
      description: The unique identifier of workbookNamedItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: workbookNamedItem
    x-ms-docs-grouped-path:
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/tables/{workbookTable-id}/columns/{workbookTableColumn-id}/range()"
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/tables/{workbookTable-id}/columns/itemAt(index={index})/range()"
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/tables/{workbookTable-id}/range()"
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/tables/{workbookTable-id}/rows/{workbookTableRow-id}/range()"
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/tables/{workbookTable-id}/rows/itemAt(index={index})/range()"
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/tables/itemAt(index={index})/range()"
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/range()"
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/range(address='{address}')"
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/names/{workbookNamedItem-id}/range()"
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/tables/{workbookTable-id}/columns/{workbookTableColumn-id}/range()"
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/tables/{workbookTable-id}/columns/itemAt(index={index})/range()"
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/tables/{workbookTable-id}/range()"
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/tables/{workbookTable-id}/rows/{workbookTableRow-id}/range()"
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/tables/{workbookTable-id}/rows/itemAt(index={index})/range()"
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/tables/itemAt(index={index})/range()"
  /drives/{drive-id}/items/{driveItem-id}/workbook/names/{workbookNamedItem-id}/worksheet:
    description: Provides operations to manage the worksheet property of the microsoft.graph.workbookNamedItem
      entity.
    get:
      tags:
      - drives.driveItem
      summary: Get worksheet from drives
      description: Returns the worksheet to which the named item is scoped. Available
        only if the item is scoped to the worksheet. Read-only.
      operationId: drives.items.workbook.names.GetWorksheet
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookWorksheet"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
    - name: workbookNamedItem-id
      in: path
      description: The unique identifier of workbookNamedItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: workbookNamedItem
    x-ms-docs-grouped-path:
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/names/{workbookNamedItem-id}/worksheet"
  /drives/{drive-id}/items/{driveItem-id}/workbook/names/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - drives.driveItem
      summary: Get the number of the resource
      operationId: drives.items.workbook.names.GetCount-eada
      parameters:
      - $ref: "#/components/parameters/search"
      - $ref: "#/components/parameters/filter"
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          $ref: "#/components/responses/ODataCountResponse"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
  /drives/{drive-id}/items/{driveItem-id}/workbook/names/add:
    description: Provides operations to call the add method.
    post:
      tags:
      - drives.driveItem
      summary: Invoke action add
      description: Adds a new name to the collection of the given scope using the
        user's locale for the formula.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/nameditem-add?view=graph-rest-1.0
      operationId: drives.drive.items.driveItem.workbook.names.add
      parameters:
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NamesAddBody"
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2XX3"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: action
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
    x-ms-docs-grouped-path:
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/tables/{workbookTable-id}/columns/add"
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/tables/{workbookTable-id}/rows/add"
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/tables/add"
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/charts/add"
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/names/add"
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/tables/{workbookTable-id}/columns/add"
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/tables/{workbookTable-id}/rows/add"
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/tables/add"
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/add"
  /drives/{drive-id}/items/{driveItem-id}/workbook/names/addFormulaLocal:
    description: Provides operations to call the addFormulaLocal method.
    post:
      tags:
      - drives.driveItem
      summary: Invoke action addFormulaLocal
      description: Adds a new name to the collection of the given scope using the
        user's locale for the formula.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/nameditem-addformulalocal?view=graph-rest-1.0
      operationId: drives.drive.items.driveItem.workbook.names.addFormulaLocal
      parameters:
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NamesAddFormulaLocalBody"
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InlineResponse2XX3"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: action
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
    x-ms-docs-grouped-path:
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/names/addFormulaLocal"
  /drives/{drive-id}/items/{driveItem-id}/workbook/operations:
    description: Provides operations to manage the operations property of the microsoft.graph.workbook
      entity.
    get:
      tags:
      - drives.driveItem
      summary: Get operations from drives
      description: "The status of workbook operations. Getting an operation collection\
        \ is not supported, but you can get the status of a long-running operation\
        \ if the Location header is returned in the response. Read-only."
      operationId: drives.items.workbook.ListOperations
      parameters:
      - $ref: "#/components/parameters/top"
      - $ref: "#/components/parameters/skip"
      - $ref: "#/components/parameters/search"
      - $ref: "#/components/parameters/filter"
      - $ref: "#/components/parameters/count"
      - name: $orderby
        in: query
        description: Order items by property values
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          $ref: "#/components/responses/microsoft.graph.workbookOperationCollectionResponse"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - drives.driveItem
      summary: Create new navigation property to operations for drives
      operationId: drives.items.workbook.CreateOperations
      parameters:
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/microsoft.graph.workbookOperation"
        required: true
      responses:
        "2XX":
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookOperation"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
  /drives/{drive-id}/items/{driveItem-id}/workbook/operations/{workbookOperation-id}:
    description: Provides operations to manage the operations property of the microsoft.graph.workbook
      entity.
    get:
      tags:
      - drives.driveItem
      summary: Get operations from drives
      description: "The status of workbook operations. Getting an operation collection\
        \ is not supported, but you can get the status of a long-running operation\
        \ if the Location header is returned in the response. Read-only."
      operationId: drives.items.workbook.GetOperations
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookOperation"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - drives.driveItem
      summary: Delete navigation property operations for drives
      operationId: drives.items.workbook.DeleteOperations
      parameters:
      - name: If-Match
        in: header
        description: ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Success
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - drives.driveItem
      summary: Update the navigation property operations in drives
      operationId: drives.items.workbook.UpdateOperations
      parameters:
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/microsoft.graph.workbookOperation"
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookOperation"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
    - name: workbookOperation-id
      in: path
      description: The unique identifier of workbookOperation
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: workbookOperation
  /drives/{drive-id}/items/{driveItem-id}/workbook/operations/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - drives.driveItem
      summary: Get the number of the resource
      operationId: drives.items.workbook.operations.GetCount-67f8
      parameters:
      - $ref: "#/components/parameters/search"
      - $ref: "#/components/parameters/filter"
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          $ref: "#/components/responses/ODataCountResponse"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
  /drives/{drive-id}/items/{driveItem-id}/workbook/tables:
    description: Provides operations to manage the tables property of the microsoft.graph.workbook
      entity.
    get:
      tags:
      - drives.driveItem
      summary: Get tables from drives
      description: Represents a collection of tables associated with the workbook.
        Read-only.
      operationId: drives.items.workbook.ListTables
      parameters:
      - $ref: "#/components/parameters/top"
      - $ref: "#/components/parameters/skip"
      - $ref: "#/components/parameters/search"
      - $ref: "#/components/parameters/filter"
      - $ref: "#/components/parameters/count"
      - name: $orderby
        in: query
        description: Order items by property values
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          $ref: "#/components/responses/microsoft.graph.workbookTableCollectionResponse"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - drives.driveItem
      summary: Create new navigation property to tables for drives
      operationId: drives.items.workbook.CreateTables
      parameters:
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/microsoft.graph.workbookTable"
        required: true
      responses:
        "2XX":
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookTable"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
  /drives/{drive-id}/items/{driveItem-id}/workbook/worksheets:
    description: Provides operations to manage the worksheets property of the microsoft.graph.workbook
      entity.
    get:
      tags:
      - drives.driveItem
      summary: Get worksheets from drives
      description: Represents a collection of worksheets associated with the workbook.
        Read-only.
      operationId: drives.items.workbook.ListWorksheets
      parameters:
      - $ref: "#/components/parameters/top"
      - $ref: "#/components/parameters/skip"
      - $ref: "#/components/parameters/search"
      - $ref: "#/components/parameters/filter"
      - $ref: "#/components/parameters/count"
      - name: $orderby
        in: query
        description: Order items by property values
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          $ref: "#/components/responses/microsoft.graph.workbookWorksheetCollectionResponse"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - drives.driveItem
      summary: Create new navigation property to worksheets for drives
      operationId: drives.items.workbook.CreateWorksheets
      parameters:
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/microsoft.graph.workbookWorksheet"
        required: true
      responses:
        "2XX":
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookWorksheet"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
  /drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}:
    description: Provides operations to manage the worksheets property of the microsoft.graph.workbook
      entity.
    get:
      tags:
      - drives.driveItem
      summary: Get worksheets from drives
      description: Represents a collection of worksheets associated with the workbook.
        Read-only.
      operationId: drives.items.workbook.GetWorksheets
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookWorksheet"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - drives.driveItem
      summary: Delete navigation property worksheets for drives
      operationId: drives.items.workbook.DeleteWorksheets
      parameters:
      - name: If-Match
        in: header
        description: ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Success
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - drives.driveItem
      summary: Update the navigation property worksheets in drives
      operationId: drives.items.workbook.UpdateWorksheets
      parameters:
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/microsoft.graph.workbookWorksheet"
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookWorksheet"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
    - name: workbookWorksheet-id
      in: path
      description: The unique identifier of workbookWorksheet
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: workbookWorksheet
  /drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/charts:
    description: Provides operations to manage the charts property of the microsoft.graph.workbookWorksheet
      entity.
    get:
      tags:
      - drives.driveItem
      summary: Get charts from drives
      description: The list of charts that are part of the worksheet. Read-only.
      operationId: drives.items.workbook.worksheets.ListCharts
      parameters:
      - $ref: "#/components/parameters/top"
      - $ref: "#/components/parameters/skip"
      - $ref: "#/components/parameters/search"
      - $ref: "#/components/parameters/filter"
      - $ref: "#/components/parameters/count"
      - name: $orderby
        in: query
        description: Order items by property values
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          $ref: "#/components/responses/microsoft.graph.workbookChartCollectionResponse"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - drives.driveItem
      summary: Create new navigation property to charts for drives
      operationId: drives.items.workbook.worksheets.CreateCharts
      parameters:
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/microsoft.graph.workbookChart"
        required: true
      responses:
        "2XX":
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookChart"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
    - name: workbookWorksheet-id
      in: path
      description: The unique identifier of workbookWorksheet
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: workbookWorksheet
  /drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/charts/{workbookChart-id}:
    description: Provides operations to manage the charts property of the microsoft.graph.workbookWorksheet
      entity.
    get:
      tags:
      - drives.driveItem
      summary: Get charts from drives
      description: The list of charts that are part of the worksheet. Read-only.
      operationId: drives.items.workbook.worksheets.GetCharts
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookChart"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - drives.driveItem
      summary: Delete navigation property charts for drives
      operationId: drives.items.workbook.worksheets.DeleteCharts
      parameters:
      - name: If-Match
        in: header
        description: ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Success
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - drives.driveItem
      summary: Update the navigation property charts in drives
      operationId: drives.items.workbook.worksheets.UpdateCharts
      parameters:
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/microsoft.graph.workbookChart"
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookChart"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
    - name: workbookWorksheet-id
      in: path
      description: The unique identifier of workbookWorksheet
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: workbookWorksheet
    - name: workbookChart-id
      in: path
      description: The unique identifier of workbookChart
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: workbookChart
  /drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/charts/{workbookChart-id}/axes:
    description: Provides operations to manage the axes property of the microsoft.graph.workbookChart
      entity.
    get:
      tags:
      - drives.driveItem
      summary: Get axes from drives
      description: Represents chart axes. Read-only.
      operationId: drives.items.workbook.worksheets.charts.GetAxes
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookChartAxes"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - drives.driveItem
      summary: Update the navigation property axes in drives
      operationId: drives.items.workbook.worksheets.charts.UpdateAxes
      parameters:
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/microsoft.graph.workbookChartAxes"
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookChartAxes"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
    - name: workbookWorksheet-id
      in: path
      description: The unique identifier of workbookWorksheet
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: workbookWorksheet
    - name: workbookChart-id
      in: path
      description: The unique identifier of workbookChart
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: workbookChart
    x-ms-docs-grouped-path:
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/charts/item(name='{name}')/axes"
    - "/drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/charts/itemAt(index={index})/axes"
  /drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/charts/{workbookChart-id}/axes/categoryAxis:
    description: Provides operations to manage the categoryAxis property of the microsoft.graph.workbookChartAxes
      entity.
    get:
      tags:
      - drives.driveItem
      summary: Get categoryAxis from drives
      description: Represents the category axis in a chart. Read-only.
      operationId: drives.items.workbook.worksheets.charts.axes.GetCategoryAxis
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookChartAxis"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - drives.driveItem
      summary: Update the navigation property categoryAxis in drives
      operationId: drives.items.workbook.worksheets.charts.axes.UpdateCategoryAxis
      parameters:
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/microsoft.graph.workbookChartAxis"
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookChartAxis"
        "4XX":
          $ref: "#/components/responses/error"
        "5XX":
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation
    parameters:
    - name: drive-id
      in: path
      description: The unique identifier of drive
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: drive
    - name: driveItem-id
      in: path
      description: The unique identifier of driveItem
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: driveItem
    - name: workbookWorksheet-id
      in: path
      description: The unique identifier of workbookWorksheet
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: workbookWorksheet
    - name: workbookChart-id
      in: path
      description: The unique identifier of workbookChart
      required: true
      style: simple
      explode: false
      schema:
        type: string
      x-ms-docs-key-type: workbookChart
  /drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/charts/{workbookChart-id}/axes/seriesAxis:
    description: Provides operations to manage the seriesAxis property of the microsoft.graph.workbookChartAxes
      entity.
    get:
      tags:
      - drives.driveItem
      summary: Get seriesAxis from drives
      description: Represents the series axis of a 3-dimensional chart. Read-only.
      operationId: drives.items.workbook.worksheets.charts.axes.GetSeriesAxis
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: workbook-session-id
        in: header
        description: Workbook session ID returned by createSession. Pass it to run
          the request inside a persistent or non-persistent Excel session.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "2XX":
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.workbookChartAxis"
[...]
